# Entornos virtuales
venv/
env/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos de desarrollo / Editores
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales o de registro
*.log
*.tmp